.cart-summary {
    box-sizing: border-box;
    width: 40%;
    background-color: white;
    margin-top: 2%;
    margin-left: 2%;
    padding: 1%;
    box-shadow: 1px;
}

.cart-summary-total-container {
    margin-top: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.cart-summary-total {
    font-weight: bold;
}