.product-title {
    display: block;
    width: 100%;
    text-align: center;
}

.product-price {
    margin-top: 30px;
    display: block;
    width: 100%;
    text-align: center;
}

.add-to-bag-button {
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    height: 40px;
    border: none;
    display: inline-block;
    background-color: rgb(0, 109, 54);
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.product-block-information {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}